body {
    padding: 0;
    margin: 0;
}

.background {
    background-image: url('../assets/img/blurry_blue_background-wallpaper-1024x576.jpg');
    background-size: cover;
    height: 900px;
}

.wrapper {
    background: rgba(5, 45, 100, 0.655);
    height: 85%;
    padding-top: 10%;
}

.signin-form {
    width: 70%;
    margin: 0 auto;
}


#s-form {
    width: 30%;
    margin: 0 auto;    
    padding: 2%;
    background: #fff;
    border: 5px solid #26609085;

}

#s-from {
    width: 100% !important;
}

.logo {
    width: 7%;
    height: 7%;
}

.logo img {
    width: 20%;
}

.center {
    text-align: center;
    padding-bottom: 2%;
}

.red-text {
    color: red;
    text-align: center;
}

.comp-title {
    background: white;
    font-size: 16px;
    font-weight: 1.5em;
}
