body {
    padding: 0;
    margin: 0;
}

.background {
    background-image: url('../assets/img/blurry_blue_background-wallpaper-1024x576.jpg');
    background-size: cover;
    height: 900px;
}

.wrapper {
    background: rgba(5, 45, 100, 0.655);
    height: 85%;
    padding-top: 10%;
}

.signin-form {
    width: 70%;
    margin: 0 auto;
}


#s-form {
    width: 30%;
    margin: 0 auto;    
    padding: 2%;
    background: #fff;
    border: 5px solid #26609085;

}

#s-from {
    width: 100% !important;
}

.logo {
    width: 7%;
    height: 7%;
}

.logo img {
    width: 20%;
}

.center {
    text-align: center;
    padding-bottom: 2%;
}

.red-text {
    color: red;
    text-align: center;
}

.container {
    padding: 1%;
    width: 98%; }
  
.left {
    width: 45%;
    float: left;
}
  
.top {
    padding: 1%; 
    width: 60%;
    margin: 0% auto;
}

.top table {
    width: 100%;
}

.top table td {
    padding: 3%;  
    border-bottom: 1px solid;
}

.top th {
    text-align: right;
    border-bottom: 1px solid;
}

.bottom {
    padding: 1%;
}
  
.right {
    width: 53%;
    padding: 1%;
    float: right;
}

.head {
    width: 50%;
    float: left;
}

.button {
    width: 40%;
    float: right;
    padding: 3%;
    text-align: right;
}

.clear {
    clear: both;
}

.comp-title {
    background: white;
    font-size: 16px;
    font-weight: 1.5em;
}
